@import url("theme_dagobah.css?v1.2");


:root {
	--il-orange: #ff552e;
	--il-altgeld: #dd3403;
	--il-blue: #13294b;
	--il-alma-mater: #1e3877;
	--il-alma-mater-1: #4d69a0;
	--il-alma-mater-2: #849bc1;
	--il-alma-mater-3: #afc7db;
	--il-industrial-blue: #1d58a7;
	--il-industrial-blue-1: #5783bc;
	--il-industrial-blue-2: #90aed5;
	--il-industrial-blue-3: #cad9ef;
	--il-arches-blue: #009fd4;
	--il-arches-blue-1: #7fc3e1;
	--il-arches-blue-2: #a6d7eb;
	--il-arches-blue-3: #d2ebf5;
	--il-cloud: #f8fafc;
	--il-cloud-1: #e8e9eb;
	--il-cloud-2: #dddede;
	--il-cloud-3: #d2d2d2;
	--il-gray-1: #f4f4f4;
	--il-gray-2: #707070;
	--il-heritage-orange: #f5821e;
	--il-heritage-orange-1: #e56e15;
	--il-heritage-orange-2: #ce5e11;
	--il-heritage-orange-3: #b74d04;
	--il-storm: #9fa0a8;
	--engr-white: #ffffff;
	--engr-ghost: #f8f8f8;
	--engr-platinum: #f0f0f0;
	--engr-royal: #284c90;
	/*	--engr-navy: var(--il-blue);*/
	/*	--engr-orange: ff552e;*/
	--engr-charcoal: #121b21;
}



/* basic html elements */
@media all {
	body {
		width: 100%;
		color: var(--engr-charcoal);
		line-height: 1.8;
		font-family: 'Source Sans Pro', sans-serif;
		-webkit-font-smoothing: antialiased;
		font-weight: 400;
	}
	
	h1 {
		font-weight: 700;
		font-size: 3em;
	}

	h2 {
		font-weight: 700;
		font-size: 1.9em;
		margin-bottom: 1.5rem;
		letter-spacing: -0.5px;
	}

	h3 {
		font-size: 1.5em;
		font-weight: 700;
		margin: 0 0 1rem 0;
		color: var(--il-orange);
		letter-spacing: -0.7px;
	}

	p + h3 {
		margin-top: 3rem;
	}

	h1 a,
	h2 a,
	h3 a,
	h4 a {
		text-decoration: none;
	}


	p, ul, ol, dl {
		margin-bottom: 1.6rem;
	}

		div.col-md > p:last-child, div.col-md > ul:last-child, div.col-md > ol:last-child, div.col-md > dl:last-child {
			margin-bottom: 0;
		}

	li {
		margin-bottom: 0.25rem;
	}

		li:last-child {
			margin-bottom: 0;
		}

	table th {
		background-color: var(--engr-ghost);
	}
	
	.platinum-box table th {
		background-color: #dddede;
	}

	img.image {
		max-width: 100%;
	}

	h5 img.image {
		margin-bottom: 1.1rem;
	}

	.photo,
	figure {
		margin: 0 auto 1.6rem auto;
		max-width: 100%;
	}

		figure.portrait,
		figure.image {
			display: table;
		}

		figure.portrait.align-left,
		figure.image.align-left {
			float: left;
			margin-right: 1.6rem;
			margin-top: 0.6rem;
			max-width: 50%;
		}

		figure.portrait.align-right,
		figure.image.align-right {
			float: right;
			margin-left: 1.6rem;
			margin-top: 0.6rem;
			max-width: 50%;
		}

		figure.portrait.align-center,
		figure.image.align-center {
			display: table;
			margin-left: auto;
			margin-right: auto;
			margin-top: 0.6rem;
		}

			figure.portrait figcaption,
			figure.image figcaption {
				display: table-caption;
				caption-side: bottom;
			}

		img.image.align-left {
			float: left;
			margin-right: 1.6rem;
			margin-top: 0.6rem;
			margin-bottom: 0.6rem;
			max-width: 50%;
		}

		img.image.align-right {
			float: right;
			margin-left: 1.6rem;
			margin-top: 0.6rem;
			margin-bottom: 0.6rem;
			max-width: 50%;
		}

		img.image.align-center {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 0.6rem;
			margin-bottom: 0.6rem;
		}

	iframe {
		max-width: 100%;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	a {
		color: var(--il-industrial-blue);
		text-decoration: underline;
	}

		a:hover {
			color: var(--il-altgeld);
			text-decoration: underline;
		}
	
	strong {
		font-weight: 700;
	}

	table {
		width: 100%;
		margin-bottom: 2rem;
		border-bottom: 1px solid #dee2e6;
	}
		table.table {
			margin-bottom: 2rem;
		}
}


/* header */
@media all {
	/*#skiptocontent a {
		padding: 6px;
		position: absolute;
		top: -50px;
		left: 0px;
		color: white;
		border-bottom-right-radius: 8px;
		background: var(--engr-royal);
		-webkit-transition: top 1s ease-out;
		transition: top 1s ease-out;
		z-index: 1001;
	}

		#skiptocontent a:focus {
			position: absolute;
			left: 0px;
			top: 0px;
			outline: none;
			box-shadow: rgba(0,0,0,0.6) 0px 0px	10px;
			-webkit-transition: top .1s ease-in;
			transition: top .1s ease-in;
			text-decoration: underline;
		}*/
		.uofi-skipto-plugin {
			z-index: 100000;
		}
		.skip-to{
			top: -50px !important;
		}
		.skip-to.focus{
			top: 0px !important;
		}


	body.scrollbar #scrollbar {
		display: block;
		position: fixed;
		background-color: var(--il-orange);
		width: 0%;
		height: 3px;
		top: 0px;
		left: 0px;
		content: '';
		z-index: 1001;
	}

}





/* content */
@media all {
	#content {
		margin-top: 0px;
	}

	body.landing #content {
		margin-top: 0px;
	}

	#content .container-fluid {
		position: relative;
	}

}


/* pills */
@media all {

	.nav-pills {
		font-size: 0.8rem;
	}

	.nav-pills li {
		margin-bottom: 0;
	}

	.nav-pills .nav-link {
		border: none;
		border-radius: 25px;
		margin: 0 0.5rem 0.5rem 0;
		background-color: var(--engr-platinum);
		color: var(--engr-charcoal);
		padding: 0.5rem 1.5rem;
	}

	.nav-pills .nav-link.active {
		background-color: var(--engr-royal);
	}

}


/* buttons and special links */
@media all {

	.button {
		border: 1px solid var(--engr-royal);
		background-color: transparent;
		color: var(--engr-royal);
		font-weight: 600;
		min-height: 46px;
		display: inline-block;
		line-height: 34px;
		text-align: center;
		padding: 4px 2rem;
		text-decoration: none;
		margin-bottom: 0.5rem;
	}

		.button:hover {
			background-color: var(--engr-royal) !important;
			color: var(--engr-white) !important;
			text-decoration: none !important;
		}

		.button.orange {
			background-color: var(--il-orange) !important;
			border-color: var(--il-orange) !important;
			color: var(--engr-white) !important;
		}

			.button.orange:hover {
				background-color: var(--engr-royal) !important;
				border-color: var(--engr-royal) !important;
				color: var(--engr-white) !important;
			}

		.button.platinum {
			background-color: var(--engr-platinum);
			border-color: var(--engr-platinum);
			color: var(--engr-charcoal);
		}


			.button.platinum:hover {
				background-color: var(--engr-royal);
				border-color: var(--engr-royal);
				color: var(--engr-white);
			}


		.button.active {
			background-color: var(--engr-royal);
			border-color: var(--engr-royal);
			color: var(--engr-white);
		}


	button.button {
		background-color: var(--engr-royal);
		color: var(--engr-white);
		border: none;
		font-size: 0.8em;
		border-radius: 0.2rem;
		margin-bottom: 1rem;
		height: auto;
	}

	#content .dropdown-menu {
		max-height: 50vh;
		overflow: auto;
		border-radius: 0;
		box-shadow: rgb(0 0 0 / 40%) 0px 25px 25px;
	}


		#content .dropdown-menu a {
			color: var(--engr-charcoal);
			display: block;
			text-decoration: none;
		}

			#content .dropdown-menu a:hover {
				color: var(--engr-royal);
			}

			#content .dropdown-menu a.active {
				background-color: var(--engr-ghost);
			}

	.light-text .button {
		color: var(--engr-white);
		border-color: var(--engr-white);
	}
	
	.dropdown-toggle::after {
		border: none;
		content: '\f078';
		font-family: 'Font Awesome 5 Pro';
		font-size: 14px;
		vertical-align: middle;
		margin-left: 10px;
	}
}

	



/* footer */
@media all {
	footer {
		position: relative;
		z-index: 2;
		font-size: 0.9em;
		position: relative;
		line-height: 150%;
		background-color: var(--il-blue);
		color: var(--engr-white);
	}

		footer::before {
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 6px;
			background-image: linear-gradient(to right, rgba(255, 85, 46, 1), rgba(204, 0, 0, 1));
		}

		footer h2 {
			font-size: 1.1em;
			text-transform: uppercase;
			border-bottom: 2px solid var(--il-storm);
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			letter-spacing: 2px;
		}

		footer ul {
			list-style-type: none;
			padding: 0;
		}

		footer li {
			margin-bottom: 0;
		}

		footer a {
			color: var(--engr-white);
			text-decoration: none;

		}

			footer a:hover {
				color: var(--il-orange);
			}


		footer .button {
			color: var(--engr-white);
			border-color: var(--engr-white);
		}

			footer .button:hover {
				border-color: var(--il-orange);
				background-color: var(--il-orange);
				color: var(--engr-white);
			}


		footer .campus_wordmark img {
			width: 225px;
		}
		
		footer .imark a {
			display: inline-block;
			height: 38px;
			padding: 0px 0px 0px 42px;
			margin: 0 0 .25rem 0;
			background-image: url(//ws.engr.illinois.edu/images/block.i.orange.png);
			background-size: contain;
			background-repeat: no-repeat;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 38px;
			line-height: 38px;
			color: var(--engr-white);
		}
			
			footer .imark a:hover{
				text-decoration: none;
			}

		footer .department {
			font-weight: 600;
		}

		footer .coll_name {
			font-size: 1rem;
			margin: 0px 0px 2rem 0px;
			font-size: 1.75em;
			font-weight: 200;
		}

			footer .coll_name a {
				color: var(--engr-white);
			}


		footer .socials {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;
		}

		footer .socials a {
			line-height: 40px;
			align-items: center;
			display: flex;
			margin-bottom: 1.5rem;
		}
	
			footer .socials a:hover {
				text-decoration: none;
			}

			footer .socials .button {
				margin-left: 0.5rem;
				height: 40px;
				padding: 5px 15px;
				white-space: nowrap;
			}



			footer .socials a i {
				font-size: 1.4em;
				margin-left: 0.75rem;
				margin-right: 0.75rem;
			}

		footer .socials.top-aligned a {
			align-items: unset;
		}

		footer .phone ul li {
			overflow: auto;
		}

			footer .phone ul li span {
				display: block;
				float: left;
			}
			
			footer .phone ul li a {
				float: right;
			}


		footer #legal {
			border-top: 5px solid var(--il-alma-mater);
		}

			footer #legal p {
				margin: 0;
			}

			footer #legal a {
				color: var(--engr-platinum);
				text-decoration: underline;
				padding: 5px;
			}

			footer #legal a:hover,
			footer #legal a:focus {
				outline: 2px dotted var(--engr-white);
			}

			footer #legal #ot-sdk-btn.ot-sdk-show-settings {
				border: 1px solid var(--engr-white);
				border-radius: 5px;
				font-size: inherit;
				line-height: inherit;
				background-color: var(--il-alma-mater) !important;
				padding: 0.8em 2em;
				text-decoration: none;
				font-family: inherit !important;
			}

	footer #legal #ot-sdk-btn.ot-sdk-show-settings:hover {
		background-color: var(--engr-white) !important;
	}

/* flowsheets */
@media all {

	#flowsheet #legend_container ul {
		list-style-type: none;
		margin: 0px 0px 20px 0px;
		padding: 0;
	}

		#flowsheet #legend_container ul li {
			padding: 5px;
			margin: 0px 0px 3px 0px;
			border: 1px solid black;
			list-style-type: none;
		}

	#flowsheet .prereq {
		background-color: #99d298 !important;
	}

	#flowsheet .prereq.immediate {
		background-color: #33a532 !important;
		color: var(--engr-white);
	}

	#flowsheet .prereq.immediate a {
		color: var(--engr-white);
	}

	#flowsheet .prereq.immediate.coreq {
		background-color: #764cd9 !important;
		color: var(--engr-white);
	}
	


	#flowsheet .postreq {
		background-color: #00adee !important;
		color: var(--engr-white);
	}

	#flowsheet .postreq a {
		color: var(--engr-white);
	}



	#flowsheet .coreq {
		background-color: #6ECEF6 !important;
	}


	#flowsheet .degreereq {
		background-color: #ffaf34 !important;
	}
	
	#flowsheet .degreereq.immediate {
		background-color: #ffaf34 !important;
		color: var(--engr-black);
	}



	#flowsheet #courseTable td {
		padding: 0px 2px;
	}


	#flowsheet #courseTable div.item {
		background-color: var(--engr-ghost);
		border: 1px solid var(--engr-platinum);
		height: 80px;
		width: 100%;
		min-width: 120px;
		overflow: hidden;
		margin: 3px 0px;
		padding: 5px 5px 5px 5px;
		line-height: 1.4;
		font-weight: bold;
	}

		#flowsheet #courseTable div.item:hover {
			background-color: var(--il-orange) !important;
			color: var(--engr-white);
		}

			#flowsheet #courseTable div.item:hover a {
				color: var(--engr-white);
			}

	#flowsheet #courseTable .crs_title {
		font-style: italic;
		font-weight: normal;
		font-size: 0.9em;
	}

	#flowsheet #courseTable sup {
		margin-left: 5px;
		font-weight: normal;
	}

	#flowsheet #coursecontent {
		height: 200px;
		overflow: auto;
		margin: 0px 0px 20px 0px;
	}

	#notes_container {
		margin-bottom: 1rem;
	}

	#notes_container .highlight {
		background-color: yellow;
	}


	.extCoursesProfileContent {
		margin-bottom: 1.6rem;
	}
}



/* junk drawer */
@media all {
	.offscreen {
		display: block;
		position: fixed;
		left: -9999999px;
		width: 0px;
		overflow: hidden;
	}

	.card {
		color: var(--engr-charcoal);
	}

	.animated {
		opacity: 0;
	}
	
	.animated-gradient {
		animation: flow 12s ease-in-out infinite;
		background: linear-gradient(-60deg, var(--il-orange), #1329b4);
		background-size: 300%;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	
	@keyframes flow {
		0% {
			background-position: 0 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0 50%;
		}
	}
	
	.bg-zoom-container {
		position: relative;
		overflow: hidden;
	}
	
	.bg-zoom {
		position: relative;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		transition: 0.7s all;
	}
	
	.bg-zoom-activator:hover .bg-zoom,
	.bg-zoom-activator:focus .bg-zoom {
		transform: scale(1.1);
	}
	
	.delay-05s {
		animation-delay: 500ms;
	}

	.fixed-50 {
		display: inline-block;
		min-width: 50px;
	}

	.nobreak {
		break-inside: avoid;
	}

	.quote {
		font-size: 3rem;
		font-weight: bold;
		line-height: 1.2;
	}

	.pointer {
		cursor: pointer;
	}
	
	.semibold {
		font-weight: 600;
	}
	
	.extra-bold {
		font-weight: 800;
	}
	
	.condensed {
		letter-spacing: -1px;
	}

	.barlow {
		font-family: "barlow condensed";
	}
	
	.montserrat {
		font-family: "montserrat";
	}
	
	.montserrat-alt {
		font-family: "Montserrat Alternates";
	}
	
	.fjalla {
		font-family: "Fjalla One";
	}
	
	.py-6 {
		padding-top: 4.5rem;
		padding-bottom: 4.5rem;
	}

	.fleft {
		float: left;
		margin: 0 1rem 1.6rem 0;
	}

	.fright {
		float: right;
		margin: 0 0 1.6rem 1rem;
	}


	.round {
		border-radius: 200px;
		width: 280px;
		height: 280px;
		background-size: cover;
		background-position: center;
		margin: 0 auto 2rem auto;
	}

	.square {
		width: 280px;
		height: 280px;
		border: 20px solid var(--engr-platinum);
		border-radius: 0px;
		background-size: cover;
		background-position: center;
		margin: 0 auto 2rem auto;
	}
	
	.bgimg {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	a.underline:hover {
		text-decoration: underline;
	}

	.twocol:not(.mega) {
		columns: 2;
		margin-bottom: 2rem;
		column-gap: 2.5rem;
	}

	.threecol:not(.mega) {
		columns: 3;
		margin-bottom: 2rem;
		column-gap: 2.5rem;
	}

	.fact-boxes.twocol {
		column-gap: 0;
	}

		.threecol > li,
		.twocol > li {
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid;
		}

	.intro {
		font-size: 1.2em;
		margin-bottom: 1.6rem;
	}

	.headline {
		font-size: 150%;
		line-height: 150%;
		font-weight: 300;
	}

	h2.headline {
		font-size: 250%;
		font-weight: 300;
	}

	.hidden {
		display: none;
	}

	.hide-empty[data-value=""] {
		display: none !important;
	}

	.show-empty[data-value] {
		display: none;
	}

	.show-empty[data-value=""] {
		display: block;
	}

	.invisible {
		visibility: hidden;
	}

	.maxwidth1140 {
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}

	.maxwidth925 {
		max-width: 925px;
	}

	.maxwidth900 {
		max-width: 900px;
	}

	.maxwidth800 {
		max-width: 800px;
	}

	.maxwidth720 {
		max-width: 720px;
	}

	.maxwidth500 {
		max-width: 500px;
	}

	.maxwidth350 {
		max-width: 350px;
	}
	
	.minheight250 {
		min-height: 250px;
	}

	.minheight400 {
		min-height: 400px;
	}

	.minheight600 {
		min-height: 600px;
	}
	
	.inline-list {
		list-style: none;
	}
	
	.inline-list li {
		display: inline;
	}
	
	.inline-list li::after {
		content: ", ";
	}
	
	.inline-list li:last-child::after {
		display: none;
	}


	figure.social {
		position: relative;
		overflow: hidden;
	}

		figure.social::before {
			position: absolute;
			top: 0;
			right: 0;
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 25px;
			background-color: var(--engr-royal);
			color: var(--engr-white);
			font-family: 'Font Awesome 5 Brands';
			font-weight: 300;
			text-align: center;
		}

		figure.social.facebook::before {
			content: '\f39e';
		}

		figure.social.instagram::before {
			content: '\f16d';
		}
		
		figure.social.twitter::before {
			content: '\f099';
		}

		figure.social.linkedin::before {
			content: '\f0e1';
		}

		figure.social.youtube::before {
			content: '\f167';
		}

		figure.social.soundcloud::before {
			content: '\f1be';
		}

		figure.social figcaption {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.8);
			top: 100%;
			transition: top ease-in-out 0.4s;
			padding: 2rem;
			font-size: 1em;
			font-weight: 500;
			border: none;
		}

		figure.social:hover figcaption {
			top: 0;
		}

	#gototop a {
		display: block;
		position: fixed;
		width: 45px;
		height: 45px;
		background-color: rgba(0, 0, 0, 0.5);
		bottom: 20px;
		right: 20px;
		z-index: 100;
		border-radius: 30px;
		text-align: center;
		line-height: 45px;
		font-size: 1.25em;
		color: var(--engr-white);
	}

	.uppercase {
		text-transform: uppercase;
	}
	
	.no-border-radius {
		border-radius: 0 !important;
	}

}

@media all {

	.icon-scroll,
	.icon-scroll:before {
		position: absolute;
		left: 50%;
	}

	.icon-scroll {
		width: 40px;
		height: 70px;
		margin-left: -20px;
		border-radius: 20px;
		border: 1px solid var(--engr-white);
		background-color: rgba(247, 247, 247, 0.4);
	}

		.icon-scroll:before {
			content: '';
			width: 8px;
			height: 8px;
			background: var(--engr-white);
			margin-left: -4px;
			top: 8px;
			border-radius: 4px;
			animation-duration: 1.4s;
			animation-iteration-count: infinite;
			animation-name: scroll;
		}

	@keyframes scroll {
		0% {
			opacity: 1;
		}

		100% {
			opacity: 0;
			transform: translateY(50px);
		}
	}
}


@media all {

	.progress-round {
		height: 330px;
		width: 330px;
		position: relative;
		margin: 0 auto;
		text-transform: uppercase;
		border: 2px solid var(--il-orange);
		padding: 3px;
		border-radius: 163px;
	}

		.progress-round:before {
			content: "";
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			background-size: contain;
			background-position: center center;
			background-image: url(//ws.engr.illinois.edu/images/spokes.png);
		}

		.progress-round div.inner {
			position: absolute;
			width: 174px;
			height: 174px;
			top: 76px;
			left: 76px;
			text-align: center;
			border: 2px solid #e85a27;
			border-radius: 90px;
			padding: 24px 10px;
			line-height: 1.1;
			font-size: 0.95em;
		}

			.progress-round div.inner p {
				margin: 0;
			}

		.progress-round div.number {
			font-size: 50px;
			font-weight: 900;
			font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
			letter-spacing: -1px;
		}
}

@media (max-width: 1279px) {
	.slider-feature .slick-prev, .slider-feature .slick-next {
		display: none !important;
	}
}



@media (max-width: 1199px) {

	footer .title {
		font-size: 0.9em;
		line-height: 1.7rem;
	}

}


@media screen and (max-width: 991px) {
	.hidden-informal {
		display: none;
	}
	
	body.fullscreenhero #hero .row {
		height: calc(100vh - 70px);
		min-height: calc(100vh - 70px);
		max-height: calc(100vh - 70px);
	}

	.fact-boxes .item {
		flex: 0 0 calc(33% - 1rem);
		max-width: calc(33% - 1rem);
	}

	div.directory-list .item,
	div.directory-list.directory-list-4 .item,
	div.directory-list.directory-list-5 .item,
	div.directory-list.directory-list-6 .item {
		flex: 0 0 calc(33% - 1rem);
		max-width: calc(33% - 1rem);
		min-width: calc(33% - 1rem);
	}

		div.directory-list .item .photo,
		div.directory-list.directory-list-4 .item .photo,
		div.directory-list.directory-list-5 .item .photo,
		div.directory-list.directory-list-6 .item .photo,
		#sidebar_wrapper div.directory-list .item .photo,
		#sidebar_wrapper div.directory-list.directory-list-4 .item .photo,
		#sidebar_wrapper div.directory-list.directory-list-5 .item .photo,
		#sidebar_wrapper div.directory-list.directory-list-6 .item .photo {
			height: calc(33vw - 1rem);
		}

		#sidebar_wrapper div.directory-list .item .contact,
		#sidebar_wrapper div.directory-list.directory-list-4 .item .contact,
		#sidebar_wrapper div.directory-list.directory-list-5 .item .contact,
		#sidebar_wrapper div.directory-list.directory-list-6 .item .contact,
		div.directory-list .item .contact,
		div.directory-list.directory-list-4 .item .contact,
		div.directory-list.directory-list-5 .item .contact,
		div.directory-list.directory-list-6 .item .contact {
			top: calc(33vw - 1rem + 6px);
		}

	div.fact-bubbles .item {
		font-size: 0.8em;
	}

		div.fact-bubbles .item p:first-child {
			font-size: 6em;
		}
	
	.tile-list .tile.w25,
	.tile-list .tile.w33 {
		flex: 0 0 calc(50% - 1.2rem);
		max-width: calc(50% - 1.2rem);
		min-width: calc(50% - 1.2rem);
	}


	body.storied #hero h1 {
		font-size: 5vw;
	}

	figure.fleft {
		margin-left: 0;
	}

	figure.fcenter {
		margin-left: 0;
		margin-right: 0;
	}

	figure.fright {
		margin-right: 0;
	}


	#modal-content {
		max-width: calc(100vw - 2rem);
		margin: 0 1rem;
	}


	#giving_form #cart #contactus {
		margin: 0 calc(-1.5rem + 14px) 3rem calc(-1.5rem - 30px);
	}


	body.home .slider-feature {
		height: calc(100vh - 85px);
		max-height: calc(100vh - 85px);
	}

	.slider-feature .slide-content h2 {
		font-size: 1.8em;
	}

		.slider-feature .slide-content .subtitle {
			font-size: 1rem;
		}

	.virtual-tour .slide-content {
		padding: 0 80px 0 40px;
		padding-top: 4rem;
	}



}


@media screen and (max-width: 767px) {


	body.landing #hero h1 {
		font-size: 3em;
	}

	#hero h1 {
		font-size: 2.25em;
	}

	body.landing.home #hero h1 {
		font-size: 2.25em;
	}

		body.landing #hero h1::after {
			left: 2px;
			height: 2px;
		}

		body.landing.home #hero .subtitle {
			font-size: 1rem;
		}

	.fact-boxes .item {
		flex: 0 0 calc(50% - 1rem) !important;
		max-width: calc(50% - 1rem) !important;
	}

	.tile-list .tile.w25,
	.tile-list .tile.w33,
	.tile-list .tile.w50,
	.tile-list .tile.w66,
	.tile-list .tile.w100 {
		/*
		flex: 0 0 calc(100% - 1.2rem);
		max-width: calc(100% - 1.2rem);
		min-width: calc(100% - 1.2rem);
		*/

		margin: 1rem 0 0 0;
		flex: 0 0 100%;
		max-width: 100%;
		min-width: 100%;
	}

	.inner {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}


	.fs080x { font-size: 0.8em !important; }
	.fs100x { font-size: 1em !important; }
	.fs125x { font-size: 1.125em !important; }
	.fs150x { font-size: 1.25em !important; }
	.fs200x { font-size: 1.5em !important; }
	.fs250x { font-size: 1.75em !important; }
	.fs300x { font-size: 2em !important; }
	.fs350x { font-size: 2.25em !important; }
	.fs400x { font-size: 2.5em !important; }
	.fs500x { font-size: 3em !important; }
	.fs600x { font-size: 3.5em !important; }
	.fs700x { font-size: 4em !important; }
	.fs800x { font-size: 4.5em !important; }
	.fs900x { font-size: 5em !important; }


	div.directory-list .item, 
	div.directory-list.directory-list-4 .item,
	div.directory-list.directory-list-5 .item,
	div.directory-list.directory-list-6 .item {
		flex: 0 0 calc(50% - 1rem);
		max-width: calc(50% - 1rem);
		min-width: calc(50% - 1rem);
	}

		div.directory-list .item .photo,
		div.directory-list.directory-list-4 .item .photo,
		div.directory-list.directory-list-5 .item .photo,
		div.directory-list.directory-list-6 .item .photo,
		#sidebar_wrapper div.directory-list .item .photo,
		#sidebar_wrapper div.directory-list.directory-list-4 .item .photo,
		#sidebar_wrapper div.directory-list.directory-list-5 .item .photo,
		#sidebar_wrapper div.directory-list.directory-list-6 .item .photo {
			height: calc(50vw - 1rem);
		}

		div.directory-list .item .contact,
		div.directory-list.directory-list-4 .item .contact,
		div.directory-list.directory-list-5 .item .contact,
		div.directory-list.directory-list-6 .item .contact,
		#sidebar_wrapper div.directory-list .item .contact,
		#sidebar_wrapper div.directory-list.directory-list-4 .item .contact,
		#sidebar_wrapper div.directory-list.directory-list-5 .item .contact,
		#sidebar_wrapper div.directory-list.directory-list-6 .item .contact {
			top: calc(50vw - 1rem + 6px);
		}

	#giving_form #cart #contactus {
		margin: 0 0 2rem 0;
		padding: .1rem;
		text-align: center;
	}

		#giving_form #cart #contactus:before {
			display: none;
		}

	footer .socials {
		flex-wrap: wrap;
		justify-content: left;
	}

		footer .socials a i {
			margin-right: 1rem;
		}

		footer .socials .button {
			margin-left: 0;
			margin-right: 0.5rem;
		}

	.tablist {
		display: none;
	}

	.tabdropdown-container {
		display: block;
	}
	
}


@media screen and (max-width: 575px) {

	/*  this is adding what i think is unwanted top margin on mobile.  removing to see if anything is affected.  11/10/2021 JP
	h2 {
		font-size: 1.4em;
		margin: 30px 0px 24px 0px;
	}
	*/

	.threecol:not(.mega),
	.twocol:not(.mega) {
		columns: 1;
	}

		.twocol.fact-boxes {
			columns: 2;
			font-size: 0.9rem;
		}

	#hero .row .col {
		padding: 0;
	}

	/*
	.tile-list .tile,
	.tile-list .tile.w25,
	.tile-list .tile.w33,
	.tile-list .tile.w50,
	.tile-list .tile.w66,
	.tile-list .tile.w100 {
		margin: 1rem 0 0 0;
		flex: 0 0 100%;
		max-width: 100%;
		min-width: 100%;
	}

	.tile-list .tile .lower,
	.tile-list .tile .upper {
		margin-left: 0;
		margin-right: 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	*/

	div.fact-boxes .item {
		flex: 0 0 calc(100% - 1rem) !important;
		max-width: calc(100% - 1rem) !important;
	}

	div.directory-list .item, 
	div.directory-list.directory-list-4 .item,
	div.directory-list.directory-list-5 .item,
	div.directory-list.directory-list-6 .item {
		flex: 0 0 calc(100% - 1rem);
		max-width: calc(100% - 1rem);
		min-width: calc(100% - 1rem);
	}

		div.directory-list .item .photo,
		div.directory-list.directory-list-4 .item .photo,
		div.directory-list.directory-list-5 .item .photo,
		div.directory-list.directory-list-6 .item .photo {
			height: calc(100vw - 30px);
		}

		div.directory-list .item .contact,
		div.directory-list.directory-list-4 .item .contact,
		div.directory-list.directory-list-5 .item .contact,
		div.directory-list.directory-list-6 .item .contact {
			top: calc(100vw - 24px);
		}

	div.fact-bubbles .item {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.quote {
		font-size: 2rem;
	}

	ol.big-numbered-list {
		padding-left: 70px;
	}

		ol.big-numbered-list li:before {
			left: -70px;
			width: 60px;
		}

	.icon-band a {
		font-size: 0.75em;
	}

	body.storied #hero h1 {
		font-size: 1.2em;
	}



	body.storied .subtitle {
		font-size: 1.2em;
	}

	figure.portrait.align-left,
	figure.portrait.align-right,
	figure.image.align-left,
	figure.image.align-right {
		max-width: 100%;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	.tile-list .tile.wide .left {
        height: 400px;
    }
}


@media screen and (max-width: 440px) {

	body.landing #hero h1 {
		font-size: 2.5em;
	}

	#hero h1,
	body.landing.home #hero h1 {
		font-size: 1.5em;
	}

	body.landing.home #hero .subtitle {
		font-size: 0.9rem;
	}

	.slider-feature .slide-content h2 {
		font-size: 1.4em;
	}

		.slider-feature .slide-content .subtitle {
			font-size: 0.9rem;
		}

	.virtual-tour .slide-content {
		padding: 0 80px 0 10px;
		padding-top: 4rem;
	}
	

	div.fact-bubbles .item {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.fright {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	.fleft {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}


}

#spinner-overlay,
#chart-spinner-overlay
{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.8);
	z-index: 9999999;
	text-align: center;
}

	#spinner-overlay .spinner-border,
	#chart-spinner-overlay .spinner-border
	{
		width: 4em;
		height: 4em;
		font-size: 30px;
	}

table.sm-datatable tbody td {
	vertical-align: top;
}
table.sm-datatable thead th.nowrap {
	white-space: nowrap;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child {
	padding-left: 10px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
	background-color: var(--il-blue);
	display: inline-block;
	position: initial;
	margin-right: 10px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
	background-color: var(--il-orange);
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control:before {
	background-color: var(--il-blue);
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before {
	background-color: var(--il-orange);
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child:first-child:before {
	display: none;
}


.sm-paginated-list {
	max-width: 100%;
}

.sm-paginated-list-pagination .page-item.active .page-link {
	background-color: var(--il-orange);
	border-color: var(--il-orange);
	text-decoration: none;
}

.page-link, .page-link:hover {
	color: var(--il-industrial-blue);
	text-decoration: none;
}

@media all {
	/* sm-social-feed */
	.sm-social-feed {
		overflow: hidden;
		opacity: 0;
		transition: opacity ease-in-out 1s;
	}

		.sm-social-feed p {
			margin: 0;
			text-align: left;
		}

		.sm-social-feed .slick-slide {
			margin: 0 0.6rem;
		}

		.sm-social-feed .slick-list {
			margin: 40px;
		}

		.sm-social-feed .slick-arrow {
			border-radius: 0px;
			border: none;
			border-color: var(--engr-charcoal);
			width: 60px;
			height: 80%;
			top: 10%;
			color: var(--engr-charcoal);
			font-size: 18px;
			opacity: 0.2;
		}

		.sm-social-feed:hover .slick-arrow {
			opacity: 0.6;
		}

		.sm-social-feed .slick-arrow:hover {
			opacity: 1;
		}

		.sm-social-feed .slick-arrow:focus {
			outline: none;
		}

		.sm-social-feed .slick-arrow.slick-disabled {
			display: none !important;
		}

		.sm-social-feed .slick-prev {
			left: -25px;
			border-right-style: solid;
			border-right-width: 1px;
		}

		.sm-social-feed .slick-next {
			right: -25px;
			border-left-style: solid;
			border-left-width: 1px;
		}

	.royal-box .sm-social-feed .slick-arrow,
	.orange-box .sm-social-feed .slick-arrow,
	.navy-box .sm-social-feed .slick-arrow,
	.charcoal-box .sm-social-feed .slick-arrow {
		border-color: var(--engr-white);
		color: var(--engr-white);
	}

	.sm-social-feed .item {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

		.sm-social-feed .item:hover .overlay {
			top: 0;
		}

	.sm-social-feed .overlay {
		position: absolute;
		top: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		overflow: hidden;
		width: 100%;
		height: 100%;
		transition: opacity ease-in-out 0.4s;
	}

	.sm-social-feed .title {
		color: var(--engr-white);
	}

		.sm-social-feed .title::after {
			content: '\f16d';
			font-family: 'Font Awesome 5 Brands';
			font-size: 1.25em;
			position: absolute;
			bottom: 2px;
			;
			right: 18px;
		}
}

@media all {
	.badge-list ul {
		display: inline;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.badge-list ul li {
		display: inline;
		margin-right: 0.5rem;
	}
	.badge-list ul li a {
		border-radius: 30px;
		margin-bottom: 0.5rem;
		display: inline-block;
		color: #fff;
		font-size: 0.9em;
		line-height: 1;
		text-decoration: none;
		padding: 5px 10px;
		background-color: var(--il-industrial-blue);
	}
	.badge-list.arches-blue ul li a {
		background-color: var(--il-arches-blue);
	}
	.badge-list.industrial-blue ul li a {
		background-color: var(--il-industrial-blue);
	}
	.badge-list ul li a:hover {
		color: #fff;
		text-decoration: underline;
	}

	.tabhr.nav-tabs{
		border-bottom: 1px solid var(--il-orange);
	}

	.tabhr .nav-link {
		transition: 0.5s all;
		text-decoration: none;
		border-radius: 0;
		border-bottom: 1px solid var(--il-orange);
	}
	
	.tabhr .nav-link:hover,
	.tabhr .nav-link:focus {
		background: var(--il-cloud-3);
		color: var(--il-industrial-blue);
		border-bottom: 1px solid var(--il-orange);
	}

	.tabhr .nav-link.active {
		font-weight: 700;
		background: var(--il-orange);
		border-bottom: 1px solid var(--il-orange);
		color: var(--engr-white);
	}	

	#chart-container{
	/*	max-width: 600px;*/
		margin: 0 auto;
	}

}